<div class="row">
    <h4>1. Select Address</h4>
    <div class="col-12">
        <ul>
            <li *ngFor="let a of myAddress">
                <label> <input type="radio" id="rdoAdd_{{a.id}}"> {{a.name}} </label>
            </li>
        </ul>
    </div>
    <h4>2. Your Items</h4>
    <div class="col-12"></div>
    <h4>3. Payment</h4>
    <div class="col-12"></div>
    <h4>4. Offer</h4>
    <div class="col-12"></div>
    <h4>5. Review items and delivery</h4>
    <div class="col-12"></div>

</div>