<section>
	<div class="container">
		<div class="row">
			
			<div class="col-sm-9 padding-right">
				<div class="product-details"><!--product-details-->
					<div class="col-sm-5">
						<div class="view-product">
							<img [src]="ImgUrl + '/upload/' + cImage" alt="" />
							<h3>ZOOM</h3>
						</div>
						<div id="similar-product" class="carousel slide" data-ride="carousel">

							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<a  (click)="cImage = products?.productItemList[cItem]?.image1" *ngIf="products?.productItemList[cItem]?.image1">
										<img [src]="ImgUrl + '/upload/' + products?.productItemList[cItem]?.image1" alt="">
									</a>
									<a (click)="cImage = products?.productItemList[cItem]?.image2" *ngIf="products?.productItemList[cItem]?.image2">
										<img [src]="ImgUrl + '/upload/' + products?.productItemList[cItem]?.image2" alt="">
									</a>
									<a (click)="cImage = products?.productItemList[cItem]?.image3" *ngIf="products?.productItemList[cItem]?.image3">
										<img [src]="ImgUrl + '/upload/' + products?.productItemList[cItem]?.image3" alt="">
									</a>
									<a (click)="cImage = products?.productItemList[cItem]?.image4" *ngIf="products?.productItemList[cItem]?.image4">
										<img [src]="ImgUrl + '/upload/' + products?.productItemList[cItem]?.image4" alt="">
									</a>
								</div>

							</div>

							<!-- Controls -->
							<a class="left item-control" href="#similar-product" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right item-control" href="#similar-product" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>

					</div>
					<div class="col-sm-7">
						<div class="product-information"><!--/product-information-->
							<img src="images/product-details/new.jpg" class="newarrival" alt="" />
							<h2>{{products?.productList[0]?.title}}</h2>
							<!-- <p>Web ID: 1089772</p> -->
							<img src="images/product-details/rating.png" alt="" />
							<span>
								<p><b>Brand:</b> {{products?.productList[0]?.brand}}</p>
								<!-- <span> ${{products?.productList[cItem]?.title}}</span> -->
								<label>Quantity: {{products?.productItemList[cItem]?.min_quantity}} </label>
								<input type="number" [(ngModel)]="quantity" />
								<button type="button" class="btn btn-fefault cart" (click)="addcart(products)">
									<i class="fa fa-shopping-cart"></i>
									Add to cart
								</button>
							</span>
							<p><b>Availability:</b> In Stock</p>
							<p><b>Condition:</b> {{products?.productList[0]?.buyer_guarantee}}</p>
							<p><b>Description:</b> {{products?.productItemList[cItem]?.description}}</p>
							<p><b>size:</b> {{products?.productItemList[cItem]?.size}}</p>
							<p><b>color:</b> {{products?.productItemList[cItem]?.color}}</p>
							<a>
								<img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
						</div><!--/product-information-->
					</div>
				</div><!--/product-details-->
 

			</div>
		</div>
	</div>
</section>