
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Login to your account</h2>
					<form [formGroup]="frmLogin" (ngSubmit)="login(frmLogin.value)">
					
						<input formControlName="Email" type="text" placeholder="Email" />
						<p class="errorMsg">{{formErrorsLogin.Email}}</p> 

						<input formControlName="Password" type="password" placeholder="Password" />
						<p class="errorMsg">{{formErrorsLogin.Password}}</p>
						<span>
							<input type="checkbox" class="checkbox">
							Keep me signed in
						</span>
						<button type="submit" class="btn btn-default">Login</button>
						<!-- <button type="button" class="btn btn-default" (click)="loginOTPVerify(frmLogin.value.Otp)">Verify</button> -->
					</form>
				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>New User Signup!</h2>
					<form [formGroup]="frmSignup" (ngSubmit)="signup(frmSignup.value)">
					

						<input formControlName="Name" type="text" placeholder="Name" />
						<input formControlName="Mobile" type="tel" placeholder="Phone" />
						<input formControlName="Email" type="email" placeholder="Email Address" />
						<input formControlName="Password" type="password" placeholder="Password" />
						<input formControlName="Otp" type="number" placeholder="Otp" />
						<button type="submit" class="btn btn-default">Signup</button>
						<button type="button" (click)="verifyotp(frmSignup.value)" class="btn btn-default">Verify</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->

