<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of carts; let index = index;">
						<td class="cart_product">
							<a href=""><img style="width: 50px; height: 50px;"
									[src]="ImgUrl + '/upload/' + i.icon_image" alt=""></a>
						</td>
						<td class="cart_description">
							<p>{{i.title}}</p>
							<!-- <p>Web ID: 1089772</p> -->
						</td>
						<td class="cart_price">
							<p>${{i.price}}</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<button class="cart_quantity_down" (click)="changequantity(index, (i.quantity - 1))"  [disabled]="i.quantity <=1" >-</button>
								<br>
								<input class="cart_quantity_input" type="text" name="quantity" [value]="i.quantity" autocomplete="off" size="2">
								<br>
								<button class="cart_quantity_up" (click)="changequantity(index , (i.quantity + 1))"    >+</button>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">${{i.price}}</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" (click)="deleteCart(i.product_id)" ><i class="fa fa-times"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->

<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>What would you like to do next?</h3>
			<p>Choose if you have a discount code or reward points you want to use or would like to estimate your
				delivery cost.</p>
		</div>
		<div class="row">
			<!-- <div class="col-sm-6">
				<div class="chose_area">

					<ul class="user_info">
						<li class="single_field">

							<label>Address:</label>
							<select>
								<option *ngFor="let a of myAddress">{{a.name}}</option>
							</select>
						</li>
					</ul>
					<ul class="user_info">
						<li class="single_field">
							<label>name:</label>
							<input type="text" [(ngModel)]="address.name">

						</li>
						<li class="single_field">
							<label>Address1:</label>
							<input type="text" [(ngModel)]="address.address1">

						</li>
						<li class="single_field">
							<label>Address2:</label>
							<input type="text" [(ngModel)]="address.address2">

						</li>
						<li class="single_field">
							<label>landmark:</label>
							<input type="text" [(ngModel)]="address.landmark">

						</li>
					</ul>
					<ul class="user_info">
						<li class="single_field">
							<label>Country:</label>
							<select [(ngModel)]="address.country">
								<option>United States</option>
								<option>Bangladesh</option>
								<option>UK</option>
								<option>India</option>
								<option>Pakistan</option>
								<option>Ucrane</option>
								<option>Canada</option>
								<option>Dubai</option>
							</select>

						</li>
						<li class="single_field">
							<label>Region / State:</label>
							<select [(ngModel)]="address.state">
								<option>Select</option>
								<option>Dhaka</option>
								<option>London</option>
								<option>Dillih</option>
								<option>Lahore</option>
								<option>Alaska</option>
								<option>Canada</option>
								<option>Dubai</option>
							</select>

						</li>
						<li class="single_field zip-field">
							<label>Zip Code:</label>
							<input type="text" [(ngModel)]="address.zip">
						</li>
					</ul>
					<ul class="user_option">
						<li>
							<input id="chkDefault" type="checkbox">
							<label for="chkDefault">Default</label>
						</li>
					</ul>
					<a class="btn btn-default update" (click)="addbuyeraddress()">Address</a>
					<a class="btn btn-default check_out" href="">Continue</a>
				</div>
			</div> -->
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li> Total Amount <span>{{totalAmount}}</span></li>
						<li>Discount <span>{{totalDiscount}}</span></li>
						<li>Shipping Charges<span>{{shippingCharges}}</span></li>
						<li>Total <span>{{netAmount}}</span></li>
					</ul>
					<!-- <a class="btn btn-default update" href="">Update</a> -->
					<a class="btn btn-default check_out" (click)="redirect({})">Proceed to Buy</a>
				</div>
			</div>
		</div>
	</div>
</section><!--/#do_action-->
 