<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" *ngFor="let item of bannerList;let i=index" data-slide-to="i"class="{{i==0?'active':''}}"></li> 
                    </ol>

                    <div class="carousel-inner">
                        <div  *ngFor="let item of bannerList;let i=index" class="item {{i==0?'active':''}}" >
                            <div class="col-sm-6">
                                <h1 innerHtml="item.title"></h1>
                                <h2 [innerHtml]="item.subtitle"></h2>
                                <p [innerHtml]="item.description"></p>
                                <button type="button" class="btn btn-default get" (click)="redirect({productId:2})" >Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img [src]="item.image" class="girl img-responsive" alt="" />
                                <img [src]="item.image1" class="pricing" alt="" />
                            </div>
                        </div> 
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row"> 
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    <div class="col-sm-4" *ngFor="let item of products">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ImgUrl}}/upload/{{item.icon_image}}" alt="" style="width: 200px; height: 150px;" />
                                    <h2>${{item?.price}}</h2>
                                    <p (click)="redirect({productId: item.product_id, productItemId: item.product_item_id})"> ${{item.title}} </p>
                                    <a (click)="addcart(item)" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div> 
                            </div>
                        </div>
                    </div> 
                </div><!--features_items-->
 

            </div>
        </div>
    </div>
</section>